<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">About Us</h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus itaque veniam ex molestiae illo sed, molestias quas voluptatum ipsum tempora fugiat, repudiandae quidem modi dolore vero sint, iste hic obcaecati! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius est sed expedita, quia dignissimos eos? Fugit similique fugiat eos a omnis eaque eum reprehenderit nobis minus, magni velit placeat. Eos!</p>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum deserunt adipisci cupiditate. Repudiandae libero, itaque, eos suscipit maxime quae, cum soluta ut distinctio et vel porro eligendi sit ad? Dolore. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa quas ab commodi eos, numquam perspiciatis natus error repellendus molestias sit placeat blanditiis veniam quaerat, sapiente perferendis enim dolore cum veritatis!</p>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quas laudantium repellat id consequatur laborum harum, quidem deserunt cumque voluptatibus sunt eaque sit minima, ullam illum officia animi alias? Repellat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod nisi officiis iste numquam suscipit facilis nobis obcaecati quidem labore provident debitis quibusdam eaque tempora consequatur blanditiis ut dolorum, impedit quo.</p>
               <div class="text-center">
                   <button class="btn btn-info btn-sm mt-4 btn-theme">Back to Home</button>
               </div>
        </div>
    </div>
</section>