<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-effect">
                <img src="https://images.fineartamerica.com/images-medium-large-5/summer-surf-abstract-painting-linda-woods.jpg" class="card-img-top img-fluid">
                <div class="card-body">
                    <small class="bg-light text-danger text-center">Design</small>
                    <small class="bg-light text-successtext-center ml-2">Featured</small>
                    <small class="bg-light text-info text-center ml-2">Views - 100,250</small>
                    <small class="bg-light text-warning text-center ml-2">LAST UPDATED - SEP 20, 2022 </small>
                    <h1 class="mt-3 mb-3">HOW TO START A BLOG IN 2021 EDITED NEW CATEGORY</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit laudantium molestiae consequatur, nisi pariatur porro saepe, dolorem, sit ipsum omnis id harum reiciendis quis suscipit laboriosam corrupti recusandae commodi odio!. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse nostrum sapiente saepe quos veniam, quo ipsam quisquam nisi quaerat expedita modi, id commodi. Repellat culpa deserunt totam ipsa! Deserunt, voluptatem. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae quisquam placeat eos quam? Voluptate quisquam porro rem, similique vero dolorem autem debitis. Quisquam doloribus nostrum aliquam exercitationem delectus quod quos?</p>
                </div>
            </div>
            <app-comment-form></app-comment-form>
            <app-comment-list></app-comment-list>
        </div>
        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>
    </div>
</div>