<div class="card shadow-effect">
    <img class="card-img-top" src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/imagination-christophe-kiciak.jpg" alt="post-image">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ml-3">Featured</small>
        <small class="bg-light text-info text-center ml-3">Views - 100,223</small>
        <h5 class="mt-1"> HOW TO START A BLOG IN 2020 NEW EDITED</h5>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut sed deserunt doloremque quidem tenetur necessitatibus eos voluptates quia aliquid, incidunt totam ipsum est autem explicabo dolorum amet error doloribus atque.</p>
        <small class="bg-light text-warning text-center ml-3">LAST UPDATED - SEP, 2021</small>
    </div>
</div>